# autotag.cfg.cn_shotgun.sample - ClarityNow! autotagging configuration file sample

# This is an example autotag rule needed to tag shots for the cn_shotgun plugin.
# Place this rule in your autotag.cfg file.
# The matching pattern needs to be configured according to your system.
# The shot tag must respect this format: shot/project_sequence_shot

match /shotgun_volume/([^/]+)/sequences/([^/]+)/shots/([^/]+)
   max_depth 6
   apply_tag shot/$1_$2_$3
